.header-links-box {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.header-links-box .nav-item {
  position: relative;
  display: inline-flex;
  margin-right: 24px;
  text-decoration: none;
  color: inherit;
}

.header-links-box .nav-item:last-child {
  margin-right: 0;
}

.header-links-box .nav-item.selected::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background: white;
  bottom: calc(50% - 20px);
  left: calc(50% - 16px);
  border-radius: 8px;
}

.app-mobile .nav-item-sub {
  position: relative;
  display: inline-flex;
  line-height: 24px;
  margin-bottom: 12px;
  padding-bottom: 16px;
}

.app-mobile .nav-item-sub.selected::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: white;
  bottom: 0px;
  left: calc(50% - 20px);
  border-radius: 11px;
}

.app .header-links-box {
  height: 40px;
}

.app .header-links-box .nav-item {
  height: 24px;
  margin-right: 39px;
  cursor: pointer;
}

.app .header-links-box .nav-item:last-child {
  margin-right: 0;
}
.app .header-links-box .nav-item.selected::after {
  bottom: -10px;
}