node_modules/
*/node_modules/
*/*/*/node_modules/

.env
yarn-error.log

.DS_Store

build/
*/inputs/*.json
*/*/*/inputs/*.json
*/emls/*.eml
*/*/*/emls/*.eml
*.env
*/*/*.env
*/*/*/*.env
*/.yarn/cache/
*/*/.yarn/cache
*/*/*/.yarn/cache/
*/.yarn/install-state.gz
*/*/.yarn/install-state.gz
*/*/*/.yarn/install-state.gz
*/*/.yarn/unplugged/
*/dist

.vscode
ptau_files/