node_modules/
*/node_modules/

.env
yarn-error.log

.DS_Store

build/
*/inputs/*.json
*.env
*/.yarn/cache/
*/.yarn/install-state.gz
*/dist

.vscode
ptau_files/


!build/venmo_receive/venmo_receive_js/venmo_receive.wasm
!build/venmo_send/venmo_send_js/venmo_send.wasm
!build/venmo_registration/venmo_registration_js/venmo_registration.wasm