node_modules/
*/node_modules/

.env
yarn-error.log

.DS_Store

build/
*/inputs/*.json
*/emls/*.eml
*.env
*/.yarn/cache/
*/.yarn/install-state.gz
*/dist

.vscode
ptau_files/


!build/venmo_*/venmo_*_js/*.js
!build/venmo_*/venmo_*_js/*.wasm
# !build/venmo_*/venmo_*_cpp/*      Uncomment when we add support for cpp witness generation