.toggle-btn-box {
  width: 229px;
  height: 40px;
  border-radius: 40px;
}

.tab-btn-item {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height: 100%;
  line-height: 40px;
  border-radius: 40px;
  cursor: pointer;
}

.tab-btn-item.selected {
  background: #df2e2d;
  color: #ffffff;
  box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.16);
}