.bottom-nav {
  margin-top: 64px;
  margin-bottom: 16px;
}

.bottom-nav .links {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 24px;
  margin-bottom: 12px;
}

.bottom-nav .links .links-content .links-item {
  margin-right: 25px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.bottom-nav .links .links-content .links-item .links-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.bottom-nav .links .links-content .links-item .links-icon:hover {
  opacity: 0.8;
}

.bottom-nav .links .links-content .links-item:last-child {
  margin-right: 0px;
}

.bottom-nav .terms {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.bottom-nav .terms:hover {
  text-decoration: underline;
  opacity: 0.8;
}
