{
    "degree": 21,
    "num_flex_advice": 48,
    "num_range_lookup_advice": 4,
    "num_flex_fixed": 1,
    "range_lookup_bits": 20,
    "sha256_config": {
        "num_bits_lookup": 16,
        "num_advice_columns": 1
    },
    "sign_verify_config": {
        "public_key_bits": 2048   
    },
    "header_config": {
        "bodyhash_allstr_filepath": "./test_data/bodyhash_allstr.txt",
        "bodyhash_substr_filepath": "./test_data/bodyhash_substr_0.txt",
        "allstr_filepathes": [
            "./test_data/timestamp_allstr.txt"
        ],
        "substr_filepathes": [
            [
                "./test_data/timestamp_substr_0.txt"
            ]
        ],
        "max_byte_size": 1024,
        "substr_regexes": [
            [
                "(?<=t=)(0|1|2|3|4|5|6|7|8|9)+(?=;)"
            ]
        ]
    },
    "body_config": {
        "allstr_filepathes": [
           "./test_data/test3_email_body_allstr.txt"
        ],
        "substr_filepathes": [
            [
                "./test_data/test3_email_body_substr_0.txt"
            ]
        ],
        "max_byte_size": 8192,
        "substr_regexes": [
            [
                "(?<=\r\ntps://venmo.com/code\\?user_id=3D)(0|1|2|3|4|5|6|7|8|9)+(?=&actor_id=3D)"
            ]
        ]
    }
}